.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
  padding: 20px;
  background-color: #fcfcfc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-info h3 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
}

.profile-info p {
  font-size: 18px;
  margin-top: 0px;
}

/* Extra Small Devices, Phones (portrait) */
@media only screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile img {
    margin-right: 0;
  }
}